# Dependency directory
node_modules

# Keep environment variables out of version control
.env

# Keep docker files out of version control
docker-compose.yml
pgdata
redisdata

# Ignore built ts files
dist/**/*